<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML Project</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Key Phrase Generator</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Input text" placeholder="Please paste text here" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Get keyphrases</button>
    </form>

   <br>
   <br>
   <h2>TF-IDF</h2>
   {{ prediction_text_tf }}
   <br>
   <br>
   <h2>LSTM</h2>
   {{ prediction_text_nn }}

 </div>


</body>
</html>