<!DOCTYPE html>
<html>
<title>BUDGET ANALYSIS FOR MOVIES</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
<link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
<style>
.mySlides {display:none;}
.button{background-color: red; /* red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;}
</style>
</head>
<body>

<p2 class="w3-center" style="color: red"><font size="6">Budget Analysis for movies</font></p2>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp;&emsp;&emsp;    
<a href="{{ url_for('input') }}"><button class="button button2">Budget Analysis</button> 
  <a href="{{ url_for('news') }}"><button class="button button3">Data Statistics feed</button>               
              

<div class="w3-content w3-section" style="max-width:100px">
  <img class="mySlides" src="{{url_for('static', filename='img7.jpg')}}" align="middle" />
<img class="mySlides" src="{{url_for('static', filename='img5.jpg')}}" align="middle" />
<img class="mySlides" src="{{url_for('static', filename='img10.jpg')}}" align="middle" />
<img class="mySlides" src="{{url_for('static', filename='img8.jpg')}}" align="middle" />
<img class="mySlides" src="{{url_for('static', filename='img4.jpg')}}" align="middle" />
<img class="mySlides" src="{{url_for('static', filename='img6.jpg')}}" align="middle" />
<img class="mySlides" src="{{url_for('static', filename='img9.jpg')}}" align="middle" />
<img class="mySlides" src="{{url_for('static', filename='img1.jpg')}}" align="middle" />
</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 1000); // Change image every 2 seconds
}
</script>
{% block content %}
      {% endblock %}
</body>
</html>
